.layout-default {
    .header-top {
        background: #4caf50;
        padding: 10px 0;
        color: white;
        border-bottom: 1px solid white;
        .logo {
            img {
                width: 40px;
                height: 40px;
                border-radius: 50px;
            }
        }
        .header-welcome {
            font-size: 14px;
        }
        a {
            color: white;
            font-size: 14px;
            &:hover {
                text-decoration: none;
            }
            .header-link {
                cursor: pointer;
            }
        }
    }
    .header-bottom {
        background: #4caf50;
        border-bottom: 1px solid white;
        padding: 10px 0;
        .margin-auto {
            max-width: 1277px;
            margin: 0 auto;
            padding: 0px 10px;
            .logo {
                width: 200px;
                img {
                    max-width: 100%;
                }
            }
            .header-info {
                width: 700px;
                .search-bar {
                    width: 270px;
                    background-color: #fff;
                    height: 45px;
                    position: relative;
                    border: 2px solid #4caf50;
                    border-radius: 5px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    input {
                        width: calc(100% - 45px);
                        height: 45px;
                        outline: none;
                        border: none;
                        background-color: #fff;
                        font-size: 14px;
                        color: #000;
                        padding-left: 10px;
                        line-height: 14px;
                    }
                    button {
                        width: 45px;
                        height: 45px;
                        outline: none;
                        border: none;
                        background: transparent;
                        color: #ccc;
                        font-size: 16px;
                    }
                }
                .hotline {
                    .hotline_number {
                        display: inline-block;
                        vertical-align: middle;
                        padding-right: 10px;
                        border-right: 1px solid rgba(0, 0, 0, 0.2);
                        .hotline-link {
                            font-size: 24px;
                            font-weight: 700;
                            font-style: italic;
                            color: #f7f7f7;
                            line-height: 20px;
                        }
                        p {
                            font-size: 12px;
                            text-align: center;
                            margin-bottom: 0;
                            font-style: italic;
                            color: #fff;
                        }
                    }
                    .hotline_shipping {
                        margin: 0;
                        width: 52%;
                        display: inline-block;
                        vertical-align: middle;
                        padding-left: 10px;
                    }
                }
            }
            .block_cart {
                .header-cart {
                    display: block;
                    vertical-align: middle;
                    text-align: center;
                    padding: 5px;
                    a {
                        position: relative;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .content {
        background: white;
        // min-height: calc(100vh - 541px);
        min-height: 100vh;
        .home {
            .menu {
                width: 100%;
                background: #006a14;
                .menu-left {
                    width: 240px;
                    position: relative;
                    height: 42px;
                    cursor: pointer;
                    display: flex;
                    z-index: 99;
                    .layout-category {
                        position: relative;
                        z-index: 99;
                        top: 0px;
                        display: flex;
                        width: 100%;
                        background: #f36523;
                        .header {
                            text-transform: uppercase;
                            position: relative;
                            font-size: 15px;
                            color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            width: 100%;
                            font-weight: 700;
                            padding: 0px 10px;
                            img {
                                margin-right: 15px;
                            }
                        }
                        .category {
                            position: absolute;
                            top: 42px;
                            display: block;
                            transition: 1s;
                            width: 100%;
                            height: 368px;

                            .list-category::-webkit-scrollbar-track {
                                padding: 2px 0;
                            }
                            .list-category::-webkit-scrollbar {
                                width: 4px;
                            }

                            .list-category::-webkit-scrollbar-thumb {
                                background-color: #c4c4c4;
                            }
                            .list-category {
                                list-style: none;
                                padding-left: 0px;
                                background: #fff;
                                border: 1px solid #cccccc;
                                overflow-y: auto;
                                height: 368px;
                                .category-item {
                                    border-bottom: 1px solid #cccccc;
                                    padding: 0px 0px;
                                    border-top: none;

                                    &:hover {
                                        color: #fff;
                                        background: #4caf50;
                                    }
                                    a {
                                        color: #333;
                                        font-size: 13px;
                                        display: flex;
                                        align-items: center;
                                        position: relative;
                                        padding: 10px 10px 10px 10px;
                                        &:hover {
                                            color: #fff;
                                            text-decoration: none;
                                        }
                                        img {
                                            margin-right: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .menu-right {
                    background: transparent;
                    height: 42px;
                    line-height: 42px;
                    width: calc(100% - 240px);
                    transition: all 0.6s ease;
                    ul {
                        width: 100%;
                        padding: unset !important;
                        li {
                            float: left;
                            position: relative;
                            z-index: 99;
                            padding: 0px 0px;
                            list-style-type: none;
                            a {
                                color: #fff;
                                font-size: 13px;
                                padding: 0px 20px;
                                text-transform: uppercase;
                                display: block;
                                font-weight: 600;
                                &:hover {
                                    color: #fff;
                                    background: rgba(0, 0, 0, 0.2);
                                    text-decoration: none;
                                }
                                img {
                                    width: 20px;
                                    display: inline-block;
                                    margin-right: 5px;
                                    margin-top: -6px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .slide_show {
            .margin-auto {
                .box-slider {
                    width: 80.5%;
                    float: right;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .footer-default {
        border-top: 1px dashed #4caf50;
        .footer-top {
            background: white;
            .margin-auto {
                max-width: 1277px;
                margin: 0 auto;
                padding: 0px 10px;
                .footer-content {
                    padding: 40px 0px 30px;
                    display: flex;
                    justify-content: space-between;
                    flex-flow: wrap;
                    color: #fff;
                    font-size: 14px;
                    .content-item {
                        width: 20%;
                        .title {
                            margin-bottom: 15px;
                            position: relative;
                            color: #574747;
                            font-size: 14px;
                            font-weight: 700;
                            text-transform: uppercase;
                            ::after {
                                content: "";
                                width: 50px;
                                height: 2px;
                                background: #4caf50;
                                position: absolute;
                                left: 0px;
                                bottom: 0px;
                            }
                            p {
                                padding-bottom: 10px;
                                ::after {
                                    content: "";
                                    width: 50px;
                                    height: 2px;
                                    background: #4caf50;
                                    position: absolute;
                                    left: 0px;
                                    bottom: 0px;
                                }
                            }
                        }
                        .link-item {
                            font-size: 13px;
                            line-height: 24px;
                            color: #574747;
                            display: table;
                            &:hover {
                                text-decoration: none;
                                color: #4caf50;
                            }
                        }
                    }
                    .content-item-sns {
                        width: 20%;
                        .title {
                            margin-bottom: 15px;
                            position: relative;
                            color: #574747;
                            font-size: 14px;
                            font-weight: 700;
                            text-transform: uppercase;
                            ::after {
                                content: "";
                                width: 50px;
                                height: 2px;
                                background: #4caf50;
                                position: absolute;
                                left: 0px;
                                bottom: 0px;
                            }
                            p {
                                padding-bottom: 10px;
                                ::after {
                                    content: "";
                                    width: 50px;
                                    height: 2px;
                                    background: var(--color-r);
                                    position: absolute;
                                    left: 0px;
                                    bottom: 0px;
                                }
                            }
                        }
                        .link-item {
                            font-size: 13px;
                            line-height: 24px;
                            color: #574747;
                            display: table;
                            &:hover {
                                text-decoration: none;
                                color: #4caf50;
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom {
            background: #eee;
            padding: 20px 0px 10px;
            .logo-footer {
                img {
                    width: 280px;
                }
            }
            .info-footer {
                p {
                    margin: 0 !important;
                }
            }
        }
    }
}
