// Here you can add other styles
.card {
	.box-title {
		margin-bottom: 40px;
	}
	.title {
		font-size: 24px;
		color: #525252;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}
}