// Import table styles
@import "@coreui/coreui/scss/coreui";
@import "vue-search-select/dist/VueSearchSelect";
@import "vue-multiselect/dist/vue-multiselect.min";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

html,
body {
    font-family: "Nunito Sans", sans-serif;
}
.margin-auto{
    max-width: 1277px;
    margin: 0 auto;
    padding: 0px 10px;
}
p {
    margin: 0px !important;
}