//auth-layout
.auth-layout {
  .header-top {
    background: #4CAF50;
    padding: 10px 0;
    color: white;
    border-bottom: 1px solid white;
    .logo {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }
    }
    .header-welcome {
      font-size: 14px;
    }
    a {
      color: white;
      font-size: 14px;
      &:hover {
        text-decoration: none;
      }
      .header-link {
        cursor: pointer;
      }
    }
  }
  .header-bottom {
    background: #4CAF50;
    border-bottom: 1px solid white;
    padding: 10px 0;
    .margin-auto {
      max-width: 1277px;
      margin: 0 auto;
      padding: 0px 10px;
      .logo {
        width: 200px;
        img {
          max-width: 100%;
        }
      }
      .header-info {
        width: 700px;
        .search-bar {
          width: 270px;
          background-color: #fff;
          height: 45px;
          position: relative;
          border: 2px solid var(--color-r);
          border-radius: 5px;
          overflow: hidden;
          display: flex;
          align-items: center;
          input {
            width: calc(100% - 45px);
            height: 45px;
            outline: none;
            border: none;
            background-color: #fff;
            font-size: 14px;
            color: #000;
            padding-left: 10px;
            line-height: 14px;
          }
          button {
            width: 45px;
            height: 45px;
            outline: none;
            border: none;
            background: transparent;
            color: #ccc;
            font-size: 16px;
          }
        }
        .hotline {
          .hotline_number {
            display: inline-block;
            vertical-align: middle;
            padding-right: 10px;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            .hotline-link {
              font-size: 24px;
              font-weight: 700;
              font-style: italic;
              color: #f7f7f7;
              line-height: 20px;
            }
            p {
              font-size: 12px;
              text-align: center;
              margin-bottom: 0;
              font-style: italic;
              color: #fff;
            }
          }
          .hotline_shipping {
            margin: 0;
            width: 52%;
            display: inline-block;
            vertical-align: middle;
            padding-left: 10px;
          }
        }
      }
      .block_cart {
        .header-cart {
          display: block;
          vertical-align: middle;
          text-align: center;
          padding: 5px;
          a {
            position: relative;
            display: inline-block;
          }
        }
      }
    }
  }
  .auth-form {
    background: white;
    .form-login {
      width: 865px;
      height: 500px;
      background: #fff;
      border-radius: 10px;
      padding: 15px;
      .img-fluid {
        max-width: 222px;
      }
      .form-main {
        .title {
          font-size: 1.6rem;
          font-weight: 600;
        }
        .form {
          .form-input {
            font-size: 1rem;
            font-weight: 500;
          }
        }
        .link-forgot {
          font-size: 14px;
          color: #72777c;
          font-weight: bolder;
          margin: unset;
          cursor: pointer;
          a {
            text-decoration: none;
            color: #72777c !important;
          }
        }
        .link-create-member {
          font-size: 14px;
          font-weight: bolder;
          margin: unset;
          cursor: pointer;
          a {
            text-decoration: none;
            color: #72777c !important;
          }
        }
      }
    }
  }
  .footer-default {
    border-top: 1px dashed #4CAF50;
    .footer-top {
      background: white;
      .margin-auto {
        max-width: 1277px;
        margin: 0 auto;
        padding: 0px 10px;
        .footer-content {
          padding: 40px 0px 30px;
          display: flex;
          justify-content: space-between;
          flex-flow: wrap;
          color: #fff;
          font-size: 14px;
          .content-item {
            width: 20%;
            .title {
              margin-bottom: 15px;
              position: relative;
              color: #574747;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              ::after {
                content: "";
                width: 50px;
                height: 2px;
                background: #4CAF50;
                position: absolute;
                left: 0px;
                bottom: 0px;
              }
              p {
                padding-bottom: 10px;
                ::after {
                  content: "";
                  width: 50px;
                  height: 2px;
                  background: var(--color-r);
                  position: absolute;
                  left: 0px;
                  bottom: 0px;
                }
              }
            }
            .link-item {
              font-size: 13px;
              line-height: 24px;
              color: #574747;
              display: table;
              &:hover {
                text-decoration: none;
                color: #4CAF50;
              }
            }
          }
          .content-item-sns {
            width: 20%;
            .title {
              margin-bottom: 15px;
              position: relative;
              color: #574747;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              ::after {
                content: "";
                width: 50px;
                height: 2px;
                background: #4CAF50;
                position: absolute;
                left: 0px;
                bottom: 0px;
              }
              p {
                padding-bottom: 10px;
                ::after {
                  content: "";
                  width: 50px;
                  height: 2px;
                  background: var(--color-r);
                  position: absolute;
                  left: 0px;
                  bottom: 0px;
                }
              }
            }
            .link-item {
              font-size: 13px;
              line-height: 24px;
              color: #574747;
              display: table;
              &:hover {
                text-decoration: none;
                color: #4CAF50;
              }
            }
          }
        }
      }
    }
    .footer-bottom {
      background: #eee;
      padding: 20px 0px 10px;
      .logo-footer {
        img {
          width: 280px;
        }
      }
      .info-footer {
        p {
          margin: 0 !important;
        }
      }
    }
  }
}
